<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="rfidEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=rfid;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider></providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDoctorService" />
        <binding name="BasicHttpBinding_IAbsMedicalService" />
        <binding name="BasicHttpBinding_IStudentService" />
        <binding name="BasicHttpBinding_ISchoolService" />
        <binding name="BasicHttpBinding_ICountryService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2797/DoctorService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IDoctorService" contract="DoctorServiceReference.IDoctorService"
        name="BasicHttpBinding_IDoctorService" />
      <endpoint address="http://localhost:2797/AbsMedicalService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAbsMedicalService"
        contract="AbsMedicalServiceReference.IAbsMedicalService" name="BasicHttpBinding_IAbsMedicalService" />
      <endpoint address="http://localhost:2797/StudentService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStudentService"
        contract="StudentServiceReference.IStudentService" name="BasicHttpBinding_IStudentService" />
      <endpoint address="http://localhost:2797/SchoolService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISchoolService" contract="SchoolServiceReference.ISchoolService"
        name="BasicHttpBinding_ISchoolService" />
      <endpoint address="http://localhost:2797/CountryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICountryService"
        contract="CountryServiceReference.ICountryService" name="BasicHttpBinding_ICountryService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="AbsMedical.RFIDService">
        <endpoint address="" binding="basicHttpBinding" contract="AbsMedical.IRFIDService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/AbsMedical/RFIDService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>